.zapato {
	background: url(../img/shoes_1.jpg);
	background-size:  80%;
	background-repeat:no-repeat;
	background-position: right;
	height: 500px;
}

.inputs{
    margin-bottom: 10px;
    border-color: #E3E1E1 ;
    padding: 10px;
}

#nombre, #email{
    width: 40%;
}

#msj{
    width: 40%;
    height: 100px;
}
.enviar{
    width: 40%;
    background-color: #192951 ;
    color: #FFFFFF ;
    border-radius: 5px;
    padding: 10px;
}
.pie{
    background-color: #192951 ;
    padding: 20px;
    color: #FFFFFF ;
    font-size: 12px;
}
.contact h2{
    color: #576380 ;
    margin-bottom: 30px;
}
form{
    padding-left: 80px;
}
footer {
	background: #192951;
	color: white;
	height: 50px;
}