header a{
    text-decoration: none;
    padding: 0px 60px;
    color: rgba(25, 41, 81, 0.56);
}
a {
    text-decoration: none;
}
 header .titulo {
    font-size: 40px;
}
.zapato {
	background: url(../img/shoes_1.jpg);
	background-size:  80%;
	background-repeat:no-repeat;
	background-position: right;
	height: 500px;
}

.formulario{
    padding: 2% 3% 2% 30%;
}
input{
    margin-bottom: 25px;
    width: 450px;
    padding-left: 20px;
}
textarea{
    width: 450px;
    height: 120px;
    padding-left: 20px;
    background-color: rgba(0,0,0,0.0);
}

.zapato h3 {
    text-align: center;
}
.zapato button{
    margin:2% 0%;
    width: 450px;
    height: 50px;
}

footer {
	background: #192951;
	color: white;
	height: 50px;
}
.nombre {
    background-image: url(
http://rexkirby.com/kirbyandson/images/name.svg);
    background-size: 20px;
    background-repeat: no-repeat;
}
.correo {
    background-image: url(
http://rexkirby.com/kirbyandson/images/email.svg);    background-size: 20px;
    background-repeat: no-repeat;
    background-size: 20px;

}
.msj-1 {
    background-image: url(

http://rexkirby.com/kirbyandson/images/comment.svg);    
    background-size: 20px;
    background-repeat: no-repeat;
}