.clases {
	background: url(../img/dance_7.jpg);
	background-size: 130%;
	background-repeat: no-repeat;
	background-position: left;
	height: 400px;
}
.fondo2 {
	background: url(../img/cubes.png);
	background-size: 5%;
	background-repeat: repeat;
	height: 300px;
}
.center {
	text-align: center;
	background: black;
	opacity: 0.4;
	height: 150px;
	width: 500px;
	color: white;
	margin-top: 100px;
	margin-left: 50px;
	padding-top: 60px;
}
.maestro {
	background: url(../img/lined_paper.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 800px;
}

.profesor{
	height: 186px;
	overflow: hidden;
}
.pilar{
	margin-top: 50px;
	font-size: 20px;
}

.pilares{
	margin-top: 50px;
}
.fondo2 .frase {
	text-align: center;
	font-size: 30px;
	padding-top: 120px;
}
